@charset "utf-8";
/* CSS Document */

/* STUDENTS, PUT YOUR STYLES HERE */
.item_1_box {
background-color:#090;
transition: background 1s ease-in-out 750ms;
}

.item_1_box:hover {
	background-color: #00f;
}

.item_2_box {
width: 50%;
transition: width 3s ease-in-out 0ms;
}

.item_2_box:hover {
	width: 75%;
}

.item_3_box {
height: 1.2em;
transition: height .5s ease-out 100ms;
}

.item_3_box:hover {
	height: 1.75em;
}

.item_4_box {
	transform: scale(1);
	transition: transform .25s ease-in 100ms;
}

.item_4_box:hover {
	transform: scale(2);
}

.item_5_box {
height: 1.2em;
opacity: 1;
transition: opacity .5s ease-in-out 0ms;
}

.item_5_box:hover {
	opacity: .5;
}

.item_6_box {
	color:#ff9;
	font-size: 1em;
	transition: color .5s ease-in 1ms, font .25s ease-in 251ms;
}

.item_6_box:hover {
	color: #f0f;
	font-size: 2em;
}

.item_7_box {
	border:#000 solid 1px;
	transition: border .25s ease-out 150ms;
}

.item_7_box:hover {
	border: #faf solid 5px;
}

.item_8_box {
	width: 80%;
	padding-left: 4%;
	text-align:left;
	transition: padding .25s ease-in 100ms;
}

.item_8_box:hover {
	padding-left: 8%;
}

.item_9_box {
	box-shadow: 3px 3px 1px #888888;
	transition: box-shadow 1s ease-out 125ms;
}

.item_9_box:hover {
	box-shadow: 10px 10px 10px #888888;
}

.item_10_box {
	width:50%;
	color:#ff9;
	background-color: #090;
	transition: width .5s ease-in 0ms, color .5s ease-out 500ms;
}

.item_10_box:hover {
	width: 95%;
	color: #000;
	background-color: #aaa;
}

.item_11_box {
	width:50%;
	color:#ff9;
	background-color: #090;
	transition: background .25s ease-out 0ms, width .25s ease-out 250ms, color .25s ease-out 500ms;
}

.item_11_box:hover {
	color: #fff;
	width: 100%;
	background-color: #000;
}

.item_12_box {
	height: 4em;
}

.item_12_box .yellow_square{
	width:2em; height:2em;
	background-color: #ff9;
	margin:0 auto;
	transition: background .25s linear 0ms;
}

.item_12_box .yellow_square:hover {
	background-color: #a0a;
}

.item_13_box {
	width:80%;
	height: 2.5em;
	transition: height .5s ease-in-out 10ms;
}
.item_13_box a {
	display:block;
	overflow:hidden;
	height:.2em;
	background-color: #060;
	margin:.1em auto;
	transition: all .25s ease-in-out 0ms;
}

.item_13_box:hover {
	height: 5em;
}

.item_13_box a:hover {
	display: block;
	height: 3em;
	overflow: visible;
}

.item_14_box {
	width: 150px;
	height: 34px;
	padding: 26px 0 0 0;
	background-image: url(../img/dog.gif);
	background-position: 0px 0px;
	transition: background-position .5s ease-in-out 1ms;
}

.item_14_box:hover {
	background-position: -145px 0px;
}

.item_15_box {
	transform: rotate(0deg);
	transition: transform .5s linear 0s, background .25s ease-in-out 250ms, color .25s ease-out 500ms;
}

.item_15_box:hover {
	transform: rotate(360deg);
	background-color: #000;
	color: #909;
}


/* DO NOT TOUCH STYLES BELOW HERE. Designing for mobile first */
html {	background-color:#210;
	font-size:100%;	}
body {	background-color:#dcb;
	font-size:90%;
	width:94%; max-width:1280px;
	margin: 0 auto 1rem auto;
	font-family:Verdana, Geneva, sans-serif;
	line-height: 1.4;	}
header {	background-color:#765; }
main {
	display:block;
	padding: 1rem 1rem 1rem 1rem;
}
h1 { font-size:1.4em;
	font-weight:bold;
	padding:1rem;
	color: #fff; }

a  { color:#ddf;text-decoration:underline; }
a:link  { color:#ddf;  }
a:visited { color:#bbf; }
a:hover { color:#fff;   }
a:focus { color:#fff; }
a:active { color:#99f; }

.grid-container {
	padding: 2rem 0 0 0;
}
article {
	margin: 0 1% .5rem 0;
	position: relative;
	background-color:#fff;
	height: 16rem;
}
article header {
	background-color:#fed;
	padding: 1rem 1rem 1rem 1rem;
}
article footer {
	background-color:#fed;
	width:100%;
	font-style:italic;
	font-size: .8rem;
	color:#600;
	position:absolute;
	bottom:0;
	min-height:3rem;
}
article footer p {
	padding: 1rem 1rem 1rem 1rem;
}

/* DO NOT TOUCH. STYLES ALL THE GREEN ITEM BOXES SHARE */

section {
	background-color:#090;
	width: 50%; height: 1.2em;
	font-size: .9em;
	padding: 4%;
	color:#eed;
	text-align:center;
	margin: 6% auto 6% auto;
	cursor:pointer;
}


/* DO NOT TOUCH. Define styles that should only happen if the screen is wider */
@media screen and (min-width:481px){
	html{
		font-size:100%;
	}
}
@media screen and (min-width:721px){
	html{
		font-size:110%;
	}
	.grid-container {
		display:flex;
		flex-flow:row wrap;
		justify-content: left;
		padding: 2rem 0 0 0;
	}
	article {
		margin: 0 1% .5rem 0;
		flex:1 1 32%;
		height: 20rem;
	}
	article header {
		min-height:7rem;
	}
	article footer {
		width:100%;
	}
}
@media screen and (min-width:960px){
	html{
		font-size:115%;
	}
}
/* ADD YOUR CODE AT TOP OF PAGE */
